/MP3Descriptor.class
/MP3DescriptorFactory.class
/MP3DescriptorHandler.class
/MP3Editor$CancelButtonListener.class
/MP3Editor$UpdateButtonListener.class
/MP3Editor.class
/TestMP3$1.class
/TestMP3$2.class
/TestMP3.class
